name: Run

on:
  # run if manually triggered
  workflow_dispatch:

  # run if something on the `main` branch changes
  push:
    branches:
      - main

  # run every hour at XX:42
  schedule:
    - cron: "42 * * * *"

permissions:
  pages: write
  id-token: write

concurrency:
  group: run
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - run: cargo build --release

      - run: target/release/united-flarmnet
        env:
          RUST_LOG: info

      - run: node build-webpage.mjs

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./dist

  deploy:
    needs: run

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
